[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "tools/stackedit"]
	path = tools/stackedit
	url = https://github.com/benweet/stackedit.git
