{{- /* Head custom content area start */ -}}
<!-- Glightbox for images -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css">
{{- /* Head custom content area end */ -}}

<!-- Cloudflare Web Analytics -->
<script defer src="https://static.cloudflareinsights.com/beacon.min.js" 
        data-cf-beacon='{"token": "YOUR_CLOUDFLARE_TOKEN"}'></script>

<!-- Google Analytics 4 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XXXXXXXXXX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-F20Z6DHZT');
</script>

{{ partial "mathjax.html" . }}

<link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">

 {{- /* More robust favicon links */ -}}
 <link rel="icon" href="{{ "images/favicon.svg" | absURL }}" type="image/svg+xml" />
 <link rel="apple-touch-icon" href="{{ "images/favicon.svg" | absURL }}" />
 <link rel="shortcut icon" href="{{ "images/favicon.svg" | absURL }}" />
