{{ define "main" }}
<main>
  <div class="home-info-container">
    <h1>{{ .Site.Title }}</h1>
    <blockquote class="quote">
      "So how do you go about teaching them something new? By mixing what they know with what they don’t know. Then, when they see vaguely in their fog something they recognize, they think, ‘Ah, I know that.’ And then it’s just one more step to, ‘Ah, I know the whole thing.’ And their mind thrusts forward into the unknown and they begin to recognize what they didn’t know before and they increase their powers of understanding
 **PICASSO**"
    </blockquote>
  </div>
</main>
{{ end }}
